@media only screen and (min-width: 1901px) {
    
}
/*start of = (min-width: 1366px) and (max-width: 1440px)*/
@media only screen and (min-width: 1366px) and (max-width: 1700px){
    :root{
      --fontSize_1: 16px;
     }
     .logo a{ max-width: 150px; }
     .stakingTabBtn{ padding: 10px 16px; }
     .large_btn {  padding: 10px 16px; }
     .box_mb{ margin-bottom: 15px;}
     .card_box{ padding: 20px 30px;}
     .usdt_back_arrow{ width: 36px;}
     .fieldBox input{ padding: 15px 20px; }
     .header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
/*end of = (min-width: 1366px) and (max-width: 1900px)*/			
}

/*start of = (min-width: 1280px) and (max-width: 1365px)*/	
@media only screen and (min-width: 1280px) and (max-width: 1365px){
  :root{
    --fontSize_1: 14px;
   }
   .large_btn {  padding: 10px 16px; }
   .box_mb{ margin-bottom: 15px;}
   .card_box{ padding: 20px 30px;}
   .usdt_back_arrow{ width: 36px;}
 
 
/*end of = (min-width: 1280px) and (max-width: 1365px)*/			
}

/*start of = (min-width: 1024px) and (max-width: 1279px)*/
@media only screen and (min-width: 1024px) and (max-width: 1279px){
	
body { -webkit-text-size-adjust:none;  -webkit-overflow-scrolling: touch;   }
:root{
  --fontSize_1: 14px;
 }
 .header_inner{ padding: 15px; }
 .logo a{ max-width: 140px; }
 .content{ padding-top: 130px; }
 .large_btn {  padding: 10px 16px; }
 .stakingTabBtn{ padding: 10px 16px; }
 .box_mb{ margin-bottom: 15px;}
 .card_box{ padding: 20px 30px;}
 .small_box.bond_small_box { margin: 0px auto; padding-top:30px;  }
 .usdt_back_arrow{ width: 36px;}

/*end of = (min-width: 1024px) and (max-width: 1279px)*/			
}

/*start of = (min-width: 768px) and (max-width: 1023px)*/	
@media only screen and (min-width: 768px) and (max-width: 1023px){

body { -webkit-text-size-adjust:none;  -webkit-overflow-scrolling: touch; overflow-x: hidden;}
 
:root{
  --fontSize_1: 14px;
 }
 .header_inner{ padding: 15px 20px; }
 .logo a{ max-width: 120px; }
 .content{ padding: 100px 20px 30px;}
 .large_btn {  padding: 10px 16px; }
 .box_mb{ margin-bottom: 15px;}
 .card_box{ padding: 20px 30px;}
 .green_small_title{ margin-top: 30px;}
 .small_box.bond_small_box { margin: 0px auto; padding-top:30px;  }
 .usdt_back_arrow{ width: 36px;}
 .topTabBtn{ padding: 10px 15px; }
 .stakingTabBtn{ padding: 10px 15px; }

 .staking_grid{ display: block;}
 .staking_grid_left{ width: 100%;}
 .staking_grid_right{ width: 100%; padding: 20px 0px 0px 0px;}

/*end of = (min-width: 768px) and (max-width: 1023px)*/			
}

@media(max-width:767px) {

body { -webkit-text-size-adjust:none;  -webkit-overflow-scrolling: touch; overflow-x: hidden;}


:root{
 
  --fontSize_1: 14px;
 }

 .header_tabs_btns{ width: 100%; position: absolute; left: 0px; top: 100%; }
 .content{ padding-top: 190px;}
 .all_btn{ padding: 8px 15px;}
 .logo{ max-width: 120px;  margin-left: 20px; }
 .header_inner{ padding: 10px 15px 30px 0px;}


 .staking_grid{ display: block;}
 .staking_grid_left{ width: 100%; padding: 0px; }
 .staking_grid_right{ width: 100%; padding: 30px 0px 0px 0px;}

 .card_box{ padding:20px 15px;}

 .staking_small_box{ margin: 0px; padding: 15px;}
 .small_box{ padding: 15px;}
 .small_box.bond_small_box{ padding-top: 20px; margin: 0px auto;}

 .green_small_title{ margin-top: 30px;}

 .usdt_btns_list{ padding-bottom: 15px;}
 .usdt_back_arrow svg{ max-width: 70%;}
 .stakingTabBtn{ padding: 10px 15px; }


/* end 767 */
}

@media only screen and (min-width:480px) and (max-width:767px){
 
}

@media only screen and (min-width:320px) and (max-width:374px){
	
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape)  {  
}